@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,900,700,500);

body {
    background: #10e88a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    -webkit-transition: all 200ms;
    transition: all 200ms;
    will-change: background;
}

#intro-section, #brands-section, #work-section, #banners, #websites, #contact-section {
    padding-left: 5%;
    padding-right: 5%;

}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}

@media(max-width: 767px) {
    .hide-md-sm {
        display: none;
    }
}

#intro-section {
    padding-top: 10%;
}

.bitmoji {
    margin-top: -50px;
}

@media(max-width: 1199px) {
    .bitmoji {
        margin-top: -35px;
    }
}

@media(max-width: 990px) {
    .bitmoji {
        margin-top: -15px;
    }
}

@media(max-width: 767px) {
    .bitmoji {
        margin-top: 30px;
    }
}

.navbar-brand {
    font-size: 20px;
    font-size: 1.25rem;

}

.nav-link {
    font-size: 20px;
    font-size: 1.25rem;
}

.text-white {
    color: #FFFFFF;
}

.cv-cta {
    max-width: 300px;
}

.view-work-text {
    font-size: 24px;
    font-size: 1.5rem;
}

@media(max-width: 575px) {
    .view-work-text {
        margin-top: 50px;
    }
}

.bounce {
    margin-top: -10px;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    60% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(20px);
                transform: translateY(20px);
    }
    60% {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
    }
}

a.no-hover:hover {
    text-decoration: none;
    color: #fff!important;
}


@media(max-width: 575px) {
    .work-subhead {
        text-align: center;
        margin: 0 auto;
        padding: 0 0 10px 0;
    }
}

@media(max-width: 575px) {
    .brands-subhead {
        text-align: center;
        margin: 0 auto;
    }
}

.logo-row {
    background: rgba(255,255,255,1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 35px;
}

.img-preview {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.img-preview:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: 3px solid #fff;
    box-shadow: 0 0 15px #ffffff;
}

.banner-width, .email-width {
    width: 100%;
    max-width: 300px;
}
